<!DOCTYPE html>
<html>
<head>
	<title>Exquisite</title>
	<link rel="stylesheet" href="/game.css">
	<link rel="stylesheet" href="/highlight_obsidian.css">
	<script type="text/javascript" src="/highlight.pack.js"></script>
	{{if ne .Game.State 2}}
	<script type="text/javascript" src="/game.js"></script>
	<script type="text/javascript">
		/*
			window.onbeforeunload = function (e) {
				var message = "You leave the game if you leave this page.",
				e = e || window.event;
				if (e) {
					e.returnValue = message;
				}
				return message;
			};
		
		*/
		window.onload = function(e) {
			var game = new Game("{{.Player.Name}}", {{.Game.Id}});
			document.getElementById("startgame").onsubmit = function(form) {
				game.startGame();
				return false;
			};
			document.getElementById("addline").onsubmit = function(form) {
				var $line = document.getElementById("line");
				game.addLine($line.value);
				$line.value = "";
				return false;
			};
		};
	</script>
	{{end}}	
</head>
<body>
	<div class="game clear">
		<div class="left">
			<div>
				<form action="/logout" method="post">
					<input type="submit" value="logout"/>
				</form>
				<a href="/">game browser</a><br/>
			</div>
			<hr/>
			<div class="playerlist">
				Players:
				<ul id="players"></ul>
			</div>
			<hr/>
			<div>
				Chat?
			</div>
		</div>
		<div class="right">
			<div class="task">
				{{.Game.Task.Description}}
			</div>
			<pre><code class="javascript hljs">{{if eq .Game.State 2}}{{.Game.Code}}{{end}}</code></pre>
			<div id="error"></div>
			<div>
				{{if ne .Game.State 2}}
				<div id="waiting" style="display:none">
					<form id="startgame" action="#" method="post">
						<input type="submit" value="Start Game"/>
					</form>
				</div>
				<div id="running" style="display:none">
					<form id="addline" action="#" method="post">
						<input type="text" id="line" name="line" value=""/>
					</form>
				</div>
				{{end}}
				<div id="ended" {{if ne .Game.State 2}}style="display:none"{{end}}>
					Game has ended
				</div>
			</div>
			<div id="result">{{if eq .Game.State 2}}{{.Game.Result}}{{end}}</div>
		</div>
	</div>
</body>
</html>