<!DOCTYPE html>
<html>
<head>
	<title>Exquisite</title>
</head>
<body>
	{{if .Player}}
	<ul>
		{{range .Games}}
		<li>
			<a href="/game/{{.Id}}">{{.Task.Description}}</a> - {{.StateString}}
		</li>
		{{end}}
	</ul>
	<div>
		<form action="/newgame" method="post">
			<input type="submit" value="New Game">
		</form>
	</div>
	<div>
		<form action="/logout" method="post">
			<input type="submit" name="submit" value="Logout"/>
		</form>
	</div>
	{{else}}
	<div>
		<form action="/login" method="post">
			<input type="text" name="name" value="">
			<input type="password" name="pass" value="">
			<input type="submit" value="Login">
		</form>
	</div>
	{{end}}
</body>
</html>